{% extends "themes/NeoLearn/base.html" %}
{% load static %}

{% block title %}Nova alternativa - Questão {{ question.order }} | {{ school.name }}{% endblock %}

{% block content %}

  <!-- ======= Breadcrumbs ======= -->
  <p class="breadcrumbs">
    <a href="{% url 'course_detail' school.slug question.assessment.course.id %}">{{ question.assessment.course.title|title }}</a>
    <a href="{% url 'assessment_list' school.slug question.assessment.course.id %}">Avaliações</a> 
    <a href="{% url 'question_list' school.slug question.assessment.id %}">Questões</a>
    <a href="{% url 'choice_list' school.slug question.id %}">Alternativas</a>
    <strong>Nova alternativa</strong>
  </p>

   <!-- ======= Page Hearder ======= -->
  <div class="page-header">
    {% include "themes/NeoLearn/components/page_header.html" with title="Nova alternativa" subtitle=question.text  %}
  </div>

  <div class="form-section">
    <form method="post" class="form">
      {% csrf_token %}

      <div class="form-group">
        <label class="form-label" for="id_text">Texto da alternativa</label>
        <textarea id="id_text" name="text" class="form-textarea" rows="3" required></textarea>
      </div>

      <div class="form-group">
        <label class="form-label" for="id_order">Ordem</label>
        <input class="form-input" type="number" id="id_order" name="order"
                value="{{ choices|length|add:1|default_if_none:'1' }}">
      </div>

      <div class="form-group">
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox" name="is_correct">
          <span>Esta alternativa é a correta</span>
        </label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Salvar alternativa</button>
        <a href="{% url 'choice_list' school.slug question.id %}"
           class="btn btn-outline">Cancelar</a>
      </div>
    </form>
  </div>


{% endblock %}
